<div class="b-admin-block-account g-ui-user-select-none">
	<div class="legend" data-i18n="TAB_BLOCK/LEGEND_BLOCK"></div>
	<div>
		<a class="btn" data-bind="click: blockAccount">
			<i class="icon-plus"></i>
			&nbsp;&nbsp;
			<span data-i18n="TAB_BLOCK/BUTTON_BLOCK_ACCOUNT"></span>
		</a>
		<br />
		<br />
		<blockquote>
			<p class="muted" data-i18n="[html]TAB_BLOCK/HTML_BLOCK_HELPER"></p>
		</blockquote>
		<table class="table table-hover b-admin-block-account-list-table" data-bind="i18nUpdate: blockedAccounts">
			<colgroup>
				<col />
				<col style="width: 140px" />
				<col style="width: 1%" />
				<col style="width: 1%" />
			</colgroup>
			<tbody data-bind="template: { name: 'AdminSettingsBlockedAccountListItem', foreach: blockedAccounts }"></tbody>
		</table>
	</div>
</div>
